export CLOUD_DOMAIN=noizwaves.cloud
export NODE_NAME=odroid

export BIND_ADDRESS=100.x.y.z
export TAILSCALE_IP=100.x.y.z
export LAN_IP=x.x.x.x

export TZ=America/Los_Angeles

# Create an OAuth key following this guide: https://tailscale.com/blog/docker-tailscale-guide#using-oauth
export TAILSCALE_OAUTH_KEY=
