.env
.envrc
backup.env
cold.env
hot.env
media_backup_tv_excludes.txt

hot_backup.log

authelia/.secrets/
authelia/config/users_database.yml
authelia/config/notification.txt
authelia/config/configuration.yml

fotos/credentials.list
fotos-lauren/credentials.list
