export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export BUCKET_NAME=""
export ENDPOINT_URL="https://s3.dell.noizwaves.cloud"

export PASSPHRASE=""

# for restores (absolute path)
export RESTORE_DIR=/home/cloud/restored
