services:
  app:
    image: filebrowser/filebrowser:v2.49.0
    container_name: filebrowser
    restart: unless-stopped
    user: "1000:1000"
    networks:
      - web
    volumes:
      - ../../cloud-data/filebrowser/database:/database
      - ../../cloud-data/filebrowser/config:/config

      # Files
      - ../../cloud-data/resilio-sync/data/encrypted-data:/srv/encrypted
      - ../../cloud-data/resilio-sync/data/baedrive-data:/srv/baedrive
      - ../../cloud-data/resilio-sync/data/doc-sync-data:/srv/doc-sync
      - ../../cloud-data/resilio-sync/data/storage-data:/srv/storage
      - ../../cloud-data/resilio-sync/data/pictures-data:/srv/pictures

      # Media
      - /mnt/media1:/srv/media1
      - /mnt/media2:/srv/media2
    healthcheck:
      test: [ "CMD", "/healthcheck.sh" ]
      interval: 5s
      timeout: 3s
      start_period: 2s
    labels:
      - traefik.enable=true

      ## Service settings
      - traefik.http.services.filebrowser.loadbalancer.server.port=8080
      - traefik.http.services.filebrowser.loadbalancer.passhostheader=true

      ## HTTPS
      - traefik.http.routers.filebrowser.rule=Host(`filebrowser.${CLOUD_DOMAIN}`)
      - traefik.http.routers.filebrowser.entrypoints=web-secured
      - traefik.http.routers.filebrowser.service=filebrowser
      - traefik.http.routers.filebrowser.tls=true
      - traefik.http.routers.filebrowser.tls.certresolver=mytlschallenge

      # protect with Authelia
      - traefik.http.routers.filebrowser.middlewares=authelia@docker

networks:
  web:
    external: true
