# for backups
export BACKUP_DIR=/media/backup/duplicity

# for restores (absolute path)
export RESTORE_DIR=/home/cloud/restored

# restic
export RESTIC_REPOSITORY=/media/bigbackup/restic/odroid
export RESTIC_PASSWORD_FILE=/media/bigbackup/restic/.password
