export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export BUCKET_NAME=""
export ENDPOINT_URL="https://s3.dell.noizwaves.cloud"

export PASSPHRASE=""

# for restores (absolute path)
export RESTORE_DIR=/home/cloud/restored

# media directories to back up
export MEDIA_DIRS=(/mnt/path1 /mnt/path2)

# restic
export RESTIC_REPOSITORY="b2:$BUCKET_NAME:restic/odroid"
export RESTIC_PASSWORD=$PASSPHRASE
export B2_ACCOUNT_ID=$AWS_ACCESS_KEY_ID
export B2_ACCOUNT_KEY=$AWS_SECRET_ACCESS_KEY
