services:
  hub:
    image: henrygd/beszel:0.18.2
    container_name: beszel_hub
    user: "1000:1000"
    restart: unless-stopped
    network_mode: host
    # Not sure why this needs to be specified manually when setting `user`
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    # run on port 8091 to avoid conflict with upsnap
    entrypoint: ["/beszel"]
    command: ["serve", "--http=0.0.0.0:8091"]
    volumes:
      - ../../cloud-data/beszel:/beszel_data

  proxy:
    container_name: beszel-proxy
    image: alpine/socat
    networks:
      - web
    restart: unless-stopped
    command: "TCP-LISTEN:8080,fork,reuseaddr TCP:172.17.0.1:8091"
    depends_on:
      - hub
    ports: []
    labels:
      - traefik.enable=true

      ## Service settings
      - traefik.http.services.beszel.loadbalancer.server.port=8080
      - traefik.http.services.beszel.loadbalancer.passhostheader=true

      ## HTTPS
      - traefik.http.routers.beszel.rule=Host(`beszel.${CLOUD_DOMAIN}`)
      - traefik.http.routers.beszel.entrypoints=web-secured
      - traefik.http.routers.beszel.service=beszel
      - traefik.http.routers.beszel.tls=true
      - traefik.http.routers.beszel.tls.certresolver=mytlschallenge

      # Automatically updated
      - com.centurylinklabs.watchtower.enable=true

  agent:
    image: henrygd/beszel-agent:0.18.2-alpine
    container_name: beszel_agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /.beszel:/extra-filesystems/root:ro
      - /home/cloud/cloud-data/.beszel:/extra-filesystems/data:ro
      - /mnt/media1/.beszel:/extra-filesystems/media1:ro
      - /mnt/media2/.beszel:/extra-filesystems/media2:ro
    devices:
      - /dev/nvme0:/dev/nvme0
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
    cap_add:
      - SYS_RAWIO # required for S.M.A.R.T. data
      - SYS_ADMIN # required for NVMe S.M.A.R.T. data
    env_file:
      - .env
    environment:
      PORT: 45876

networks:
  web:
    external: true
