# from https://stalw.art/docs/server/reverse-proxy/traefik/#traefik-compose

services:
  stalwart:
    image: stalwartlabs/stalwart:v0.15.4
    container_name: stalwart
    restart: unless-stopped
    hostname: stalwart.noizwaves.cloud
    networks:
      - web
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ../../cloud-data/stalwart/data:/opt/stalwart
      - ../../cloud-data/traefik/certs:/data/certs:ro
    labels:
      - traefik.enable=true

      # - traefik.http.routers.mailserver.rule=Host(`stalwart.example.com`) || Host(`autodiscover.example.com`) || Host(`autoconfig.example.com`) || Host(`mta-sts.example.com`)
      - traefik.http.routers.mailserver.rule=Host(`stalwart.${CLOUD_DOMAIN}`)
      - traefik.http.routers.mailserver.tls.certresolver=mytlschallenge
      - traefik.http.routers.mailserver.entrypoints=web-secured
      - traefik.http.routers.mailserver.service=mailserver
      - traefik.http.services.mailserver.loadbalancer.server.port=8080

      - traefik.tcp.routers.smtp.rule=HostSNI(`*`)
      - traefik.tcp.routers.smtp.entrypoints=smtp
      - traefik.tcp.routers.smtp.service=smtp
      - traefik.tcp.services.smtp.loadbalancer.server.port=25
      - traefik.tcp.services.smtp.loadbalancer.proxyProtocol.version=2

      # - traefik.tcp.routers.jmap.rule=HostSNI(`*`)
      # - traefik.tcp.routers.jmap.tls.passthrough=true
      # - traefik.tcp.routers.jmap.entrypoints=https
      # - traefik.tcp.routers.jmap.service=jmap
      # - traefik.tcp.services.jmap.loadbalancer.server.port=443
      # - traefik.tcp.services.jmap.loadbalancer.proxyProtocol.version=2
      - traefik.http.routers.jmap.rule=Host(`stalwart-jmap.${CLOUD_DOMAIN}`)
      - traefik.http.routers.jmap.tls.certresolver=mytlschallenge
      - traefik.http.routers.jmap.entrypoints=web-secured
      - traefik.http.routers.jmap.service=jmap
      - traefik.http.services.jmap.loadbalancer.server.port=443

      - traefik.tcp.routers.smtps.rule=HostSNI(`*`)
      - traefik.tcp.routers.smtps.tls.passthrough=true
      - traefik.tcp.routers.smtps.entrypoints=smtps
      - traefik.tcp.routers.smtps.service=smtps
      - traefik.tcp.services.smtps.loadbalancer.server.port=465
      - traefik.tcp.services.smtps.loadbalancer.proxyProtocol.version=2

      - traefik.tcp.routers.imaps.rule=HostSNI(`*`)
      - traefik.tcp.routers.imaps.tls.passthrough=true
      - traefik.tcp.routers.imaps.entrypoints=imaps
      - traefik.tcp.routers.imaps.service=imaps
      - traefik.tcp.services.imaps.loadbalancer.server.port=993
      - traefik.tcp.services.imaps.loadbalancer.proxyProtocol.version=2

networks:
  web:
    external: true
