version: '3.7'

services:
  app:
    image: tessypowder/backblaze-personal-wine:v1.13
    hostname: odroid
    container_name: backblaze
    restart: unless-stopped
    init: true
    networks:
      - web
    environment:
      TZ: ${TZ}
      DISABLE_VIRTUAL_DESKTOP: "true"
    volumes:
      - ../../cloud-data/backblaze/config:/config
      - /mnt/media1:/mnt/media1 # d:
      - /mnt/media2:/mnt/media2 # e:
    labels:
      - traefik.enable=true

      - traefik.http.services.backblaze.loadbalancer.passhostheader=true
      - traefik.http.services.backblaze.loadbalancer.server.port=5800

      - traefik.http.routers.backblaze.rule=Host(`backblaze.${CLOUD_DOMAIN}`)
      - traefik.http.routers.backblaze.service=backblaze
      - traefik.http.routers.backblaze.entrypoints=web-secured
      - traefik.http.routers.backblaze.tls=true
      - traefik.http.routers.backblaze.tls.certresolver=mytlschallenge

      - traefik.http.routers.backblaze.middlewares=authelia@docker

networks:
  web:
    external: true
